name: Android CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Clean
        run: ./gradlew clean

      - name: Assemble debug
        run: ./gradlew assembleDebug

      - name: Run debug unit tests
        run: ./gradlew testDebugUnitTest

      - name: Run Android lint (debug)
        run: ./gradlew lintDebug

      - name: Run Detekt
        run: ./gradlew detekt

      - name: Generate Jacoco report
        run: ./gradlew jacocoTestReport
